.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(54, 48, 49); 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  z-index: 100; 
  padding-top: 20px;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 8px; 
}

.footer-btn {
  background: none;
  border: none;
  outline: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: #b0b0b0; 
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  flex: 1; 
  
}

.footer-icon {
  font-size: 22px;
  margin-bottom: 4px;
}

.footer-text {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}